:root {
    --size-4: 0.25rem;
    --size-8: 0.5rem;
    --size-12: 0.75rem;
    --size-16: 1rem;
    --size-20: 1.25rem;
    --size-24: 1.5rem;
    --size-28: 1.75rem;
    --size-32: 2rem;
    --size-36: 2.25rem;
    --size-40: 2.5rem;
    --size-42: 2.75rem;
    --size-48: 3rem;
    --size-56: 3.5rem;
    --size-64: 4rem;
    --bb-green: #369457;
}

/* Declare Breaking Bad font: */
@font-face { font-family: BBfont; src: url('../assets/bb-font.otf'); }

html {
    overflow: hidden;
}

body {
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: monospace;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 96vh;
}

.hidden {
    display: none;
}

#welcome-box {
    border: 2px solid gray;
    border-radius: var(--size-16);
    background: rgb(51, 50, 50);
    background: rgba(0,0,0,0.7);
    color: white;
    padding: var(--size-24);
    width: 50%;
    text-align: center;
    border-radius: var(--size-24);
    animation-duration: 1.5s;
}

#welcome-box header {
    font-size: var(--size-28);
}

#welcome-box p {
    font-size: var(--size-24);
}

#welcome-box button,
#game-over button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bb-green);
    border: 1px solid white;
    color: white;
    padding: var(--size-8) var(--size-16);
    font-size: var(--size-24);
    border-radius: var(--size-16);
    font-family: monospace;
}

#welcome-box button:hover,
#game-over button:hover {
    cursor: pointer;
    opacity: 0.6;
}

#in-game-header {
    position:sticky;
    top: var(--size-8);
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 93vw;
    font-size: var(--size-32);
    padding: var(--size-12);
    border-radius: var(--size-12);
}

#ig-header-elems {
    display: flex;
    justify-content: space-evenly;
}

#match-tally-container {
    margin-right: 4rem;
}

#match-tally-container,
#elapsed-time-container {
    text-align: center;
}

#match-tally-container p,
#elapsed-time-container p {
    margin: 0;
    text-transform: lowercase;
    font-size: var(--size-24);
    font-weight: 700;
}

.card-back {
    content: url(../assets/bb-logo.png);
    height: 43%;
    width: 71%;
}

#card-area {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    width: 94vw;
    max-width: 100vw;
    justify-content: center;
    column-gap: var(--size-32);
    row-gap: var(--size-4);
    margin: var(--size-24);
}

.char-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-width: var(--size-4);
    border-style: solid;
    aspect-ratio: 1;
    color: white;
    border-radius: var(--size-24);
    background: black;
}

.char-card:hover {
    cursor: pointer;
}

.char-card img {
    border-radius: var(--size-24);
}

.img-container {
    margin-bottom: var(--size-8);
    text-align: center;
}

.img-container img {
    height: 100%;
    height: 14rem;
}

.info-card p {
    margin: 0;
    font-family: BBfont, cursive;
    text-transform: lowercase;
    font-size: var(--size-24);
    text-align: center;
    letter-spacing: 2px;
}

.quote-card {
    padding: var(--size-12);
    text-align: center;
}

.quote-card p {
    font-size: var(--size-16);
    line-height: var(--size-24);
}

#selection-result {
    color: white;
    display: none;
    position: fixed;
    /* top: 18rem;
    left: 34rem; */
    padding: 2rem;
    text-align: center;
    z-index: 100;
}

#selection-result img {
    height: 17rem;
}

#selection-result header {
    font-size: 4rem;
}

#game-over {
    border: 2px solid gray;
    border-radius: var(--size-16);
    background: rgba(0,0,0,0.9);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    position: fixed;
    top: 11rem;
    padding: 3rem;
    text-align: center;
    color: white;
    height: 50%;
}

#game-over div {
    line-height: var(--size-48);
}

#game-over header {
    font-size: var(--size-32);
}

#game-over p {
    font-size: var(--size-20);
}

#game-over button {
    width: 32%;
}

#ending-gif-container img {
    height: 12rem;
    max-height: 14rem;
}

.animate__animated.animate__flipOutY{
    --animate-duration: 750ms ;
}

.animate__flipInY {
    --animate-delay: 500ms;
    --animate-duration: 750ms ;
}